---
title: ERBを書いてみよう
---
<h1><%= @item[:title] %></h1>

<p>ERB（eRuby）を使うとHTMLの中にRubyのコードを埋め込むことが出来ます。</p>
<p>ERB（eRuby）の説明はWikipediaを見てください。<%= link_to "eRuby（Wikipedia）", "http://ja.wikipedia.org/wiki/ERuby" %></p>

<h2>実際に書いてみよう</h2>
<p>contentフォルダの「erb.html」を編集します。</p>
<p>このページのコードを見ると、既に所々Rubyで書かれているのがわかります。</p>

<%  %>
<%=  %>

<p>上記2つの書き方があります（ブラウザで見ていると表示されません）。この中にRubyのコードを書いていきます。まずはイコールの有無に注目してください。最初のうちはイコールのついている方は、ページに表示されると覚えておきましょう。</p>

<% "Hello World1" %>
<%= "Hello World2" %>

<p>ブラウザで見ると「Hello World2」だけが表示されています。イコールのついている方は、結果を表示しています。</p>

<h2>もっとERBに親しんでみよう</h2>

<p>次のコードは「こんにちは」と表示されます。</p>

<% str_hello = "こんにちは" %>
<%= str_hello %>

<p>次のコードは「こんばんは」と表示されます。先ほどと違うのは[strong]タグで囲んでるので強調表示されます。</p>

<% str_ge = "こんばんは" %>
<strong><%= str_ge %></strong>

<p>イコールがつける時、つけない時を使い分けてRubyのコードを書いてみてください。</p>

<p>次のコードはイテレータを使っています。</p>
  <ol>
    <% ["おはよう", "こんにちは", "こんばんは"].each do |s| %>
      <li><%= s %></li>
    <% end %>
  </ol>
